/* Estado normal do link */
ul li a {
    background-color: transparent;
    color: black; /* Defina a cor padrão aqui */
    text-decoration: none; /* Estilo de decoração padrão */
}

/* Link já visitado */
ul li a:visited {
    background-color: transparent;
    color: black; /* Mesmo estilo para link visitado */
}

/* Link ao passar o mouse */
ul li a:hover {
    background-color: #f2f2f2; /* Cor de fundo ao passar o mouse */
    color: blue; /* Opcional: Mudar a cor do texto ao passar o mouse */
}

/* Link ativo (ao clicar) */
ul li a:active {
    background-color: #e0e0e0; /* Opcional: cor ao clicar no link */
}

/* Estilo para o parágrafo */
p {
    margin-bottom: 20px;
    padding: 10px;
}

/* Estilo para o campo de busca */
input[type="text"]:focus {
    border: 1px solid #ccc;
}

/* Estilo para o primeiro item da lista de cursos */
ul li:first-child a {
    color: #008000;
}
