ul li a {
    background-color: transparent; /* Cor normal do link */
}

ul li a:hover {
    background-color: #f2f2f2; /* Cor ao passar o mouse */
}


/* Estilo para o parágrafo */
p {
    margin-bottom: 20px;
    padding: 10px;
}

/* Estilo para o campo de busca */
input[type="text"]:focus {
    border: 1px solid #ccc;
}

/* Estilo para o primeiro item da lista de cursos */
ul li:first-child a {
    color: #008000;
}
